- content_for :meta_title do
  \- Tracks

.p-8
  .text-4xl.uppercase.text-gray-400 Tracks

-# = render LetterFilterComponent.new(letters: song_letters, filter_path: "filter_songs_path")

.p-8.w-full
  - @tracks.each do |track|
    = render TrackComponent.new(track: track, details: true)

.p-8
  = paginate @tracks
