- content_for :meta_title do
  \- Albums

.p-8
  .text-4xl.uppercase.text-gray-400 Albums

.p-8.w-full.grid.grid-cols-4.gap-4
  - @albums.each do |album|
    .rounded-lg.shadow-lg.bg-gray-700.p-4
      .flex.flex-col
        .flex.flex-row.justify-center
          .text-lg.font-bold.break-all.overflow-auto
            = album.title
        .flex.flex-row.justify-center
          .text-sm.font-thin
            = album.year
        .flex.flex-row.justify-center.pt-4
          .rounded-lg.shadow-sm.bg-gray-600.w-32
            .flex.flex-row.justify-center.p-2
              = render IconComponent.new(name: :artist, size: 12)
        .flex.flex-row.justify-center.pt-4
          .text-xs.font-thin
            = pluralize(album.tracks.count, "Track", "Tracks")
